*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.container{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to left, #519999, #5BABAB, #458181);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.container > main{
    width: 28em;
    height: 28em;
    background-color: white;
    border-radius: 0.5em;
}
form{
    text-align: center;
}
h1{
    text-align: center;
    margin: 1em 0;
}
label{
    width: 6em;
    display: inline-block;
    margin: 1em 0;
    text-align: left;
}
div > label{
    width: 8em;
}
input.login_senha{
    width: 16em;
}
nav{
    text-align: right;
    margin: 4.5em 0.5em;
}
li{
    display: inline-block;
    padding: 0 0.25em;
}
input[type="submit"]{
    background-color: #519999;
    padding: 0.75em 2em;
    border: none;
    color: white;
}