main{
    text-align: center;
}
main div div{
    background-color: #e62429;
    border-radius: 10px;
    padding: 2em;
    width: 21em;
}
main div.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2em;
}
main a{
    color: white;
}
main div img{
    filter: sepia();
    padding: 1em 0;
}
main nav ol{
    max-width: 80em;
    padding: 3em 0;
    display: flex;
    justify-content: space-between;
}
main nav ol li{
    background-color: black;
    padding: 1.75em;
    border-radius: 50%;
}