*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS';
}
header{
    padding: 2.5em 5em;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    width: 150px;
}
a{
    color: white;
}
header nav ol, footer nav ul{
    width: 700px;
}
header nav ol li, footer nav ul li{
    width: 100px;
    display: inline-block;
    padding: 0.5em 1em;
    text-align: center;
}
header nav ol li:hover, footer nav ul li:hover{
    border-bottom: 0.25em solid #e62429;
}
form{
    width: 250px;
    text-align: right;
}
input[type="search"]{
    width: 200px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding: 1em 0;
    vertical-align: middle;
    color: white;
}
footer nav ol{
    width: 250px;
    text-align: right;
}
input:focus{
    outline: none;
}
input[type="image"]{
    border: none;
}
main{
    padding: 3em;
    max-width: 80em;
    margin: 0 auto;
    color: white;
    background-color: #111;
    border-radius: 10px;
}
footer{
    padding: 2.5em 5em;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer h2 img{
    width: 150px;
}
footer nav ol li{
    display: inline-block;
    padding: 0 0.5em;
}