*{
    margin: 0;
    padding: 0;
    list-style: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}
li{
    display: inline-block;
}
main{
    max-width: 50em;
    margin: 2em auto;
    text-align: center;
}
#card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4em;
}
#card div figure img{
    width: 10px;
}
footer{
    display: flex;
    justify-content: space-between;
}