@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pinyon+Script&display=swap');
main{
    padding: 4em;
}
main > p{
    font-size: 3em;
    text-align: center;
    font-family: "Noto serif display";
    font-weight: 600;
    padding: 0.5em 0;
}
main section#consulta{
    background-image: url(./imagens/livros.png);
    height: 512px;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 8em 0;
    text-align: center;
}
main section#consulta h2{
    text-align: center;
    font-family: "pinyon script";
    font-weight: 100;
    font-size: 7em;
}
main section#consulta input[type="search"]{
    height: 24px;
    width: 448px;
    border-bottom: 3px solid #2F9E41;
    margin: 4em 0;
    background: transparent;
    font-family: "open sans";
    font-size: 1em;
    padding: 1em 0;
}
main section#consulta input[type="image"]{
    vertical-align: middle;
}
main section#lendo_agora h2{
    font-size: 3.5em;
    font-family: "open sans";
    font-weight: 400;
}
main section#lendo_agora h3{
    font-size: 3em;
    font-family: "noto serif display";
}
main section#lendo_agora div h3 + p{
    font-family: "noto serif display";
    font-size: 2em;
}
main section#lendo_agora div.titulo{
    padding: 2em;
    height: 11.25em;
}
main section#lendo_agora div#flex{
    display: flex;
    align-items: center;
}
main section#lendo_agora > div{
    border: 2px solid #2F9E41;
    border-radius: 16px;
    padding: 4em;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 4em 0;
}
main section#lendo_agora div#flex{
    padding: 2em;
}
main section#lendo_agora div#flex div{
    padding-right: 4em;
    font-size: 1.25em;
    font-family: "open sans";
}
main section#lendo_agora figure{
    background-color: #2F9E41;
    padding: 1em;
    border-radius: 8px;
}
main section#os_mais_lidos > h2{
    font-size: 3.5em;
    font-family: "open sans";
    font-weight: 400;
}
main section#os_mais_lidos{
    margin: 8em 0;
}
main section#os_mais_lidos > div > div{
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    padding: 4em;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 4em 0;
}
main section#os_mais_lidos div.titulo{
    padding: 2em;
    font-family: "noto serif display";
}
main section#os_mais_lidos h3{
    font-size: 4em;
}
main section#os_mais_lidos p{
    font-size: 3em;
}