@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pinyon+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
}
body{
    font-family: "Noto serif display";
    background-color: black;
    text-align: center;
}
div#container{
    background-image: url(./imagens/bgSuperior.png),  url(./imagens/bgCentral.png), url(./imagens/bgInferior.png);
    background-repeat: no-repeat;
    background-position: top, center, bottom;
    background-size: contain, contain, contain;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4em;
}
a#entrar{
    background-color: #077307;
    opacity: 50%;
    padding: 0.5em 1.5em;
    border: 1px solid #F5DEB3;
    border-radius: 50px;
    font-family: "Open Sans";
    font-weight: 100;
    font-size: 1.5em;
    color: #F5DEB3;
}
main{
    margin: 0em 4em;
}
h2{
    font-family: "pinyon script";
    opacity: 50%;
    font-size: 16em;
    font-weight: 100;
    height: 250px;
    color: #F5DEB3;
}
main > p{
    font-size: 3em;
    background: linear-gradient(to bottom, #7DB321 60%, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 16em;
}
section{
    padding: 16em 0;
    display: flex;
    align-items: center;
    gap: 4em;
}
h3{
    font-family: "pinyon script";
    color: #F5DEB3;
    opacity: 50%;
    font-size: 12em;
    font-weight: 100;
    opacity: 0.1;
    transition: 0.5s;
}
li{
    color: #F5DEB3;
    opacity: 0.1;
    transition: 0.5s;
    font-size: 3em;
    text-align: left;
    padding: 0.5em 0;
}
form{
    font-family: "Open Sans";
    border: 1px solid rgba(245, 222, 179, 0.25);
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.32);
    width: 33em;
    height: 43em;
    padding: 2em 0;
    opacity: 0.1;
    transition: 0.5s;
}
form > p{
    font-size: 2em;
    color: white;
    font-weight: 100;
    padding: 0.5em 2em;
    text-align: left;
}
select{
    color: black;
    width: 400px;
    height: 64px;
    padding: 1em 0 1em 1em;
    border-radius: 5px;
    margin-bottom: 0.5em;
    font-size: 1em;
}
option{
    color: black;
    background-color: #F5DEB3;
}
input{
    border-radius: 5px;
    width: 400px;
    height: 64px;
    padding: 1.25em 0 1.25em 1.25em;
    margin: 0.5em 0;
    font-size: 1em;
}
input[type="submit"]{
    padding: 0;
    border-radius: 50px;
    background-color: #7DB321;
    font-weight: 700;
    font-size: 1.25em;
}