main{
    margin-top: 300px;
}
main > p{
    text-align: center;
    font-size: 2em;
    margin: 0 2em;
    color: #f2f2f2;
    background-color: rgba(13, 13, 13, 0.85);
    border-radius: 16px;
    padding: 1.25em;
}
main > a{
    padding: 0.75em;
    font-size: 1.5em;
    background-color: #73212F;
    border-radius: 16px;
    color: #f2f2f2;
    margin: 2em auto;
    width: 10em;
    display: flex;
    justify-content: center;
    font-weight: 350;
}
main div#content{
    margin: 40em 0 8em 0;
}
main div#content > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div#prevencaoaosuicidio{
    margin: 8em 0;
}
div#prevencaoaosuicidio > div > p{
    margin-right: 12em;
    font-size: 1.5em;
    padding: 2em 0;
    line-height: 2;
}
main h2{
    font-size: 2em;
    color: #73212F;
    font-weight: 300;
}
main h2 > span{
    font-weight: 900;
}
main section h2{
    margin-bottom: 2em;
}
section#ondebuscarajuda > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
}
section#ondebuscarajuda > div > div{
    border: 1px solid #0d0d0d;
    border-radius: 16px;
    width: 448px;
    text-align: center;
    padding-top: 1em;
}
section#ondebuscarajuda > div > div > div{
    background-color: #73212F;
    border-radius: 14px;
    padding: 1em;
}
section#ondebuscarajuda > div > div > div p{
    margin: 0;
    text-align: left;
    color: #f2f2f2;
}
section#ondebuscarajuda > div:nth-child(3){
    border: none;
    text-align: left;
}
section#ondebuscarajuda > div:nth-child(3){
    align-items: flex-end;
}
section#ondebuscarajuda a{
    color: #0d0d0d
}
section#ondebuscarajuda > div:nth-child(3) > div{
    border: none;
    text-align: left;
}
main div:nth-child(3){
    flex-wrap: wrap;
}
div#vantagens > div p{
    width: 180px;
    height: 180px;
    text-align: center;
    font-size: 1.25em;
    padding: 1em 0;
}
div.carousel-item.active{
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 4em;
}
div.carousel-item > div{
    background-color: #73212F;
    padding: 2em;
    width: 480px;
    border-radius: 1em;
    height: 360px;
}
div.carousel-item > div h3{
    text-align: left;
    width: 100%;
    color: #f2f2f2;
    padding: 1em 0;
}
div.carousel-item > div p{
    text-align: left;
    width: 100%;
    color: #f2f2f2;
}
div.carousel-item > div > div{
    display: flex;
    align-items: center;
    gap: 1em;
}
div.carousel-item.active.two > div{
    background: transparent;
}
div.carousel-item.active.two > div p{
    color: #0d0d0d;
    width: 136px;
    text-align: center;
    padding: 1em 0;
}