*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
html > body{
    background-color: #f2f2f2;
}
body > nav{
    position:  absolute;
    z-index: 425;
    background-color: #73212F;
    top: 0;
    width: 24em;
    padding: 3.5em 2em;
}
body > nav a{
    text-decoration: none;
    color: #f2f2f2;
}
body > nav button, header > div > button{
    border: none;
    background: transparent;
    cursor: pointer;
}
body > nav > ol{
    padding: 0;
}
body > nav ol li{
    padding: 2em 0;
    display: flex;
    align-items: center;
    font-size: 1.5em;
}
body > nav ol li::before{
    margin-right: 1em;
}
body > nav ol li:nth-child(1)::before{
    content: url("../images/planosEServicos.png");
}
body > nav ol li:nth-child(2)::before{
    content: url("../images/pagamentoOnline.png");
}
body > nav ol li:nth-child(3)::before{
    content: url("../images/nossasUnidades.png");
}
body > nav ol li:nth-child(4)::before{
    content: url("../images/artigosFunerarios.png");
}
body > nav ol li:nth-child(5)::before{
    content: url("../images/velorioOnline.png");
}
body > nav ol li:nth-child(6)::before{
    content: url("../images/faleConosco.png");
}
div#bgHeader{
    background-color: #f2f2f2;
    width: 100vw;
    height: 172px;
    position: fixed;
    z-index: 401;
    top: 0;
}
video{
    position: absolute;
    width: 100%;
    z-index: -2;
    top: 0;

}
div#container{
    margin: 0 auto;
    width: 64em;
}
header, header div{
    display: flex;
    align-items: center;
}
header{
    justify-content: space-between;
    padding: 2em 0;
    position: fixed;
    width: 1024px;
    top: 0;
    z-index: 401;
}
header > div{
    justify-content: flex-start;
    gap: 2em;
}
header > a{
    background-color: #73212F;
    padding: 1.25em;
    border-radius: 50px;
    width: 10em;
    text-align: center;
    color: #f2f2f2;
    font-size: 1.25em;
    font-weight: bolder;
}
header a, main a, footer a{
    text-decoration: none;
    color: #f2f2f2;
}
footer {
    position: absolute;
    margin: 4em 0;
    width: 1024px;
}
footer > div{
    display: flex;
    align-items: start;
    justify-content: space-between;
}
footer > div > ol{
    display: flex;
    gap: 8em;
    color: #f2f2f2;
    padding: 0;
}
footer > div:nth-child(1) > div{
    display: flex;
    align-items: center;
}
footer div div ul li{
    display: inline-block;
    padding: 0 1em;
}
footer div div ul li a{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
footer > div:nth-child(2){
    display: flex;
    margin: 4em 0;
}
footer > div:nth-child(2) ol li{
    list-style-type: none;
}
footer > div:nth-child(2) ol li{
    padding: 1em 0;
}
footer > div:nth-child(2) ol > li{
    font-weight: 450;
}
footer > div:nth-child(2) ol > li > ol{
    padding: 0;
}
footer > div:nth-child(2) ol > li > ol > li{
    font-weight: 225;
}
footer > div:nth-child(2) > div > div{
    display: flex;
    gap: 4em;
}
footer > div:nth-child(2) > div a{
    background-color: #f2f2f2;
    border-radius: 0.5em;
    color: #0d0d0d;
    padding: 0.5em;
}
footer > div:nth-child(2) > div > div > div:nth-child(1){
    margin-bottom: 4em;
}
footer div p{
    color: #f2f2f2;
}
footer span{
    color: #f2f2f2;
    font-weight: lighter;
    font-size: 1.5em;
}
div#bgFooter{
    background-color: #0d0d0d;
    width: 100%;
    height: 758px;
    margin-top: auto;
}
div#map{
    margin: 172px 0 0 0;
    height: 100vh;
    width: 100%;
}