main > div#controledomapa{
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 402;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2em;
}
main > div#controledomapa button{
    border: none;
    background: transparent;
    background-color: #85A63D;
    padding: 1em;
}
main > div#controledomapa button:active, main > div#controledomapa button:focus{
    background-color: #6A7330;
}
.hidden{
    display: none;
}
main > div {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 300px;
}
main > div {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 100%;
}

main > div > input[type="search"] {
    background-color: #73212F;
    padding: 1.5em;
    position: absolute;
    bottom: 575px;
    z-index: 400;
    border-radius: 0.5em;
    width: 32em;
    border: none;
    color: #f2f2f2;
}

main > div > input[type="search"]:active, main > div > input[type="search"]:focus {
    outline: none;
}

main > div > input[type="search"]::placeholder {
    color: #f2f2f2;
}